@model Project.ENTITY.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4> İletişim Bilgileri Düzenleme Paneli </h4>
            <form class="forms-sample" method="post">
                @Html.HiddenFor(x=>x.ContactID)
                <div class="form-group">
                    @Html.Label("Ünvan")
                    @Html.TextBoxFor(x=>x.Title,new {@class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Mail")
                    @Html.TextBoxFor(x=>x.Mail,new {@class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Telefon Numarası")
                    @Html.TextBoxFor(x=>x.PhoneNumber,new {@class= "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Açıklama")
                    @Html.TextAreaFor(x=>x.Description,10,2,new {@class= "form-control" })
                </div>
                <br />
                <button type="submit" class="btn btn-outline-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>