@model Project.UI.Models.PortfolioViewModel

@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4> Proje Düzenleme Paneli </h4>
            <br />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <input asp-for="@Model.PortfolioID" style="display:none;" />
                <div class="form-group">
                    <label>Proje Adı</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" class="form-control" id="Name" asp-for="@Model.Name">
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <input type="text" class="form-control" id="Price" asp-for="@Model.Price">
                </div>
                <div class="form-group">
                    <label>Tamamlanma Oranı</label>
                    <span asp-validation-for="Condition" class="text-danger"></span>
                    <input type="text" class="form-control" id="Condition" asp-for="@Model.Condition">
                </div>
                <div class="form-group">
                    <label>Proje Link'i</label>
                    <span asp-validation-for="ProjectUrl" class="text-danger"></span>
                    <input type="text" class="form-control" id="ProjectUrl" asp-for="@Model.ProjectUrl">
                </div>
                <div class="form-group">
                    <label>1. Fotoğraf</label>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <br />
                    <input type="file" asp-for="@Model.Image1">
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <br />
                    <textarea class="form-control" id="Description" asp-for="@Model.Description" rows="3" cols="5"></textarea>
                </div>
                <br />
                <div class="text-danger" asp-validation-summary="ModelOnly">
                </div>
                <br />
                <button type="submit" class="btn btn-outline-primary mr-2">Düzenle</button>
            </form>
        </div>
    </div>
</div>
